* {
  padding: 0%;
  margin: 0;
  border: 0;
}

*,
*:before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  margin: 0 auto;
}

.navbar {
  display: flex;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

li {
  display: inline;
  color: #ff0000;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 50px;
}

.image {
  display: block;
  margin: 0 auto;
}

main {
  font-family: 'Montserrat', sans-serif;
  color: #373737;
}

.title {
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding-top: 48px;
  padding-bottom: 38px;
}

.text {
  width: 1145px;
  margin: 0 auto;
}

p {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 26px;
  padding-bottom: 50px;
}

button {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  display: block;
  width: 191px;
  height: 51px;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  letter-spacing: 1.8px;
  border-radius: 4px;
  color: white;
  background-color: #ff0000;
  border: 0;
}

footer > p {
  text-align: right;
  padding-top: 90px;
  padding-right: 105px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  color: #373737;
}
